:host, .paper-item {
  display: block;
        position: relative;
        min-height: var(--paper-item-min-height, 48px);
        padding: 0px 16px;
}

.paper-item {
  font-family: var(--paper-font-subhead_-_font-family); -webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing); font-size: var(--paper-font-subhead_-_font-size); font-weight: var(--paper-font-subhead_-_font-weight); line-height: var(--paper-font-subhead_-_line-height);
        border:none;
        outline: none;
        background: white;
        width: 100%;
        text-align: left;
}

:host([hidden]), .paper-item[hidden] {
  display: none !important;
}

:host(.iron-selected), .paper-item.iron-selected {
  font-weight: var(--paper-item-selected-weight, bold);

        ;
}

:host([disabled]), .paper-item[disabled] {
  color: var(--paper-item-disabled-color, var(--disabled-text-color));

        ;
}

:host(:focus), .paper-item:focus {
  position: relative;
        outline: 0;

        ;
}

:host(:focus):before, .paper-item:focus:before {
  position: var(--layout-fit_-_position); top: var(--layout-fit_-_top); right: var(--layout-fit_-_right); bottom: var(--layout-fit_-_bottom); left: var(--layout-fit_-_left);

        background: currentColor;
        content: '';
        opacity: var(--dark-divider-opacity);
        pointer-events: none;

        ;
}

:host {
  display: var(--layout-horizontal_-_display); -ms-flex-direction: var(--layout-horizontal_-_-ms-flex-direction); -webkit-flex-direction: var(--layout-horizontal_-_-webkit-flex-direction); flex-direction: var(--layout-horizontal_-_flex-direction);
        -ms-flex-align: var(--layout-center_-_-ms-flex-align); -webkit-align-items: var(--layout-center_-_-webkit-align-items); align-items: var(--layout-center_-_align-items);
        font-family: var(--paper-font-subhead_-_font-family); -webkit-font-smoothing: var(--paper-font-subhead_-_-webkit-font-smoothing); font-size: var(--paper-font-subhead_-_font-size); font-weight: var(--paper-font-subhead_-_font-weight); line-height: var(--paper-font-subhead_-_line-height);

        ;
}

